.backgroundImageContainer {
  display: flex;
  height: 100vh;
  overflow: hidden;
  flex-flow: row nowrap;
  justify-content: center;
}

.backgroundImage {
	min-width: 100vw;
}

.homeButton {
  position: absolute;
  top: 40%;
  left: 47%;
  height: 40px;
  width: 80px;
  border: 1px solid black;
  background-color: white;
  border-radius: 5px;
}

.paperPlane {
  height: 50px;
  position: absolute;
  top: -13%;
  left: 18%;
  outline: none;
}

.homeButton:focus .paperPlane {
  animation: planeFly 4s 1;
  animation-fill-mode: forwards;
  outline: none;
}

.homeButton:focus {
  outline: none;
  background-color: transparent;
  border: none;
}


@keyframes planeFly {
  0% {
    transform: translatex(0px) translatey(0px);
  }
  30% {
    transform: translatex(200px) translatey(0px);
  }
  100% {
      transform: translatex(1000px) translatey(-500px);
  }
}

.nameBannerText {
  position: absolute;
  top: 20%;
  width: 50%;
  height: 100px;
  display: flex;
  flex-flow: row wrap;
  justify-content: center;
  align-items: center;
}

.title {
  font-size: 72px;
  color: white;
  -webkit-text-stroke: 1px black;
  letter-spacing: 0.1em;
  font-family: 'Dancing Script', cursive;
  text-shadow: 2.5px 2.5px black;
}

.titleText {
  font-size: 26px;
  color: white;
  font-family: 'Cabin Condensed', sans-serif;
  text-shadow: 2px 2px black;
}