<div class='backgroundImageContainer'>
  <div class='backgroundImageContainer' [ngStyle]="showModal && {'filter': 'grayscale(90%)'}">
    <img class='backgroundImage' src={{image}}/>
  
    <div class='nameBannerText'>
      <h1 class='title'>wanderlust</h1>
      <p class='titleText'>Tell us what you like, we will tell you where to go</p>
    </div>  
  
    <div tabindex="0" class='homeButton' (click)='popUpModal()'>
      <img class='paperPlane' src='https://cdn3.iconfinder.com/data/icons/unigrid-phantom-vehicles-vol-1/60/001_032_plane_takeoff-512.png'/>
    </div>
  </div>

  <app-modal *ngIf='showModal' class='modal'>Yes I am here</app-modal>
  <app-modal class='modal'>Yes I am here</app-modal>
</div>