.modalContainer {
  width: 100%;
  height: 100%;
  display: flex;
  flex-flow: row wrap;
  justify-content: space-evenly;
  align-items:center;
  background-color: #ECECEC;
  filter: grayscale(0%) !important;

}

/**************** Left Modal Container ****************/

.leftModalContainer {
  width: 42%;
  height: 95%;
  display: flex;
  flex-flow: row wrap;
  justify-content: center;
  align-items: center;
}

.partyType {
  text-align: center;
}

.partyTypeText {
  font-size: 20px;
  font-family: 'Cabin Condensed', sans-serif;
}

.question {
  width: 100%;
  font-size: 24px;
  font-family: 'Montserrat', sans-serif;
  text-align: center;
  margin-bottom: 10px;
  font-weight: bold;
}

.alone {
  margin-right: 5px;
  border-right: 2px solid darkgrey;
  padding-right: 5px;
  width: 75px;
  height: 75px;
  cursor: pointer;
} 

.alone:hover {
  margin-right: 5px;
  border-right: 2px solid darkgrey;
  padding-right: 5px;
  width: 85px;
  height: 85px;
}

.wife {
  margin-right: 5px;
  border-right: 2px solid darkgrey;
  padding-right: 5px;
  width: 75px;
  height: 75px;
  cursor: pointer;
}

.wife:hover {
  margin-right: 5px;
  border-right: 2px solid darkgrey;
  padding-right: 5px;
  width: 85px;
  height: 85px;
}

.family {
  margin-right: 5px;
  border-right: 2px solid darkgrey;
  padding-right: 5px;
  width: 75px;
  height: 75px;
  cursor: pointer;
}

.family:hover {
  margin-right: 5px;
  border-right: 2px solid darkgrey;
  padding-right: 5px;
  width: 85px;
  height: 85px;
}

.friends {
  width: 75px;
  height: 75px;
  cursor: pointer;
}

.friends:hover {
  width: 85px;
  height: 85px;
}

.amountOfTime {
  display: flex;
  flex-flow: row wrap;
  justify-content: center;

}

.amountOfTimeButtons button {
  background-color: #383838; /* Green background */
  color: white; /* White text */
  padding: 10px 30px; /* Some padding */
  cursor: pointer; /* Pointer/hand icon */
  float: left; /* Float the buttons side by side */
  outline: none;
}

.amountOfTimeButtons:after {
  content: "";
  clear: both;
  display: table;
}

.amountOfTimeButtons button:not(:last-child) {
  border-right: none; /* Prevent double borders */
}

.budget {
  display: flex;
  flex-flow: row wrap;
  justify-content: center;
}

.budgetButtons button {
  background-color: #383838; /* Green background */
  color: white; /* White text */
  padding: 10px 30px; /* Some padding */
  cursor: pointer; /* Pointer/hand icon */
  float: left; /* Float the buttons side by side */
  outline: none;
}

.budgetButtons:after {
  content: "";
  clear: both;
  display: table;
}

.budgetButtons button:not(:last-child) {
  border-right: none; /* Prevent double borders */
}

/**************** Right Modal Container ****************/

.rightModalContainer {
  width: 42%;
  height: 95%;
  display: flex;
  flex-flow: row wrap;
  justify-content: center;
  align-items: center;
}

.season {
  display: flex;
  flex-flow: row wrap;
  justify-content: center;
}

.seasonButtons button {
  background-color: #383838; /* Green background */
  color: white; /* White text */
  padding: 10px 30px; /* Some padding */
  cursor: pointer; /* Pointer/hand icon */
  float: left; /* Float the buttons side by side */
  outline: none;
}

.seasonButtons:after {
  content: "";
  clear: both;
  display: table;
}

.seasonButtons button:not(:last-child) {
  border-right: none; /* Prevent double borders */
}

.location {
  display: flex;
  flex-flow: row wrap;
  justify-content: center;
}

.locationButtons button {
  background-color: #383838; /* Green background */
  color: white; /* White text */
  padding: 10px 30px; /* Some padding */
  cursor: pointer; /* Pointer/hand icon */
  float: left; /* Float the buttons side by side */
  outline: none;
}

.locationButtons:after {
  content: "";
  clear: both;
  display: table;
}

.locationButtons button:not(:last-child) {
  border-right: none; /* Prevent double borders */
}

.tourist {
  display: flex;
  flex-flow: row wrap;
  justify-content: center;
}

.touristButtons button {
  background-color: #383838; /* Green background */
  color: white; /* White text */
  padding: 10px 30px; /* Some padding */
  cursor: pointer; /* Pointer/hand icon */
  float: left; /* Float the buttons side by side */
  outline: none;
}

.touristButtons:after {
  content: "";
  clear: both;
  display: table;
}

.touristButtons button:not(:last-child) {
  border-right: none; /* Prevent double borders */
}